/**Jumbotron **/
.jumbotron h2 {
	float: left;
	width: 70%;
}

.jumbotron img {
	float: right;
}

#content {
	margin: 0 auto;
	width: 75%;
}
/**Navigation bar **/
.footer-text {
	text-align: center;
	font-size: 1em;
	margin-top: 10px;
	color: white;
}

.navbar-custom {
	background-color: #096BB2;
}

.navbar-custom a {
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	letter-spacing: 1px;
}

.navbar-custom li:hover a{
	color: #096BB2;
}

/* Main page */
.features {
	text-align: center;
	background-image: linear-gradient(to bottom,#58C1D9 0,#58C1D9 100%);
}

/**Login Form**/
.login-col {
	padding-top: 10%;
	border-radius: 10px;
	vertical-align: center;
}

/* Main */
#newevent > table {
	border-spacing: 1em;
	border-collapse: separate;
}

.form-submit {
	position: relative;
	text-align: right;
}

.widget {
	background-color: #9EE4E6;
	padding: 10px;
	border-radius: 10px;
}

#eventInfo {
	color: black;
}